#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #61dafbaa;
  border-radius: 5px;
}

.read-the-docs {
  color: #888;
}

.restaurant {
  color: rgb(255, 64, 64);
  font-weight: bold;
  font-size: 18px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
